/* imports fonts to be used in the code for the webpage.*/

@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Langar&family=Lobster&family=Montserrat:wght@100&family=Satisfy&display=swap');


/* Changes the text color , font. */

p, ol, ul {
text-align: center;
font-family: 'Courgette', cursive;
font-size: 30px;
color: #ffffff;
}

body{
background-color: #999999;
margin: 0px;
}

li, h4 {
font-size: 30px;
text-align: center;
font-family: 'Dancing Script', cursive;
}

footer {
border: 5px solid #000;
margin: 40px;
height: 30px;
padding: 5px;
background-color: #c8c8c8;
}

/* makes the paragraph text in the footer light blue. */

footer > p {
font-size: 40px;
height: 20px;
text-align: center;
color: #ffffff!important;
}

h1 {
text-align: center;
font-size: 50px;
color:  #b9d3ee;
font-family: 'Lobster', cursive;
color: #ffffff;
}

h2, h3 {
text-align: center;
font-family: 'Satisfy', cursive;
font-size: 35px;
}

img {
border-radius: 30px;
}

.color-pop {
color: #ccccff;
}

.imageContainer {
float: right;
}
