*{
box-sizing: border-box
}

h1, h2, h3 {
text-align: center
color:  #b9d3ee
font-family: 'Romans'
color: #ffffff
}

p, ol, ul {
text-align: center
color: #0004c
font-family: 'Arial'
font-size: 24px
color: #ffffff
}

body{
background-color: #000000
}

footer {
background-color: #676767
}

footer > p {
color: #15dbe4
}
